
<div class="header-bar" style="position: fixed;">
  <div class="card " style="border: none; border-radius: 0;background-color: transparent">
    <div class="card-body">
      <div class="body-block">
        <div class="row">
          <div class="col-md-3">
            <img class="menu-icon mr-2" src="./assets/Hamburger_icon.svg.png" style="width: 20px;height: 22px;object-fit: cover;">
            <img class="company-logo" src="assets/google-workspace-logo.svg" style="height: 24px;"></div>
          <div class="col-md-4 pl-0" style="overflow: hidden;">
            <span class="item text-hide" style="margin-left: 0;"><a class="active-link">Solutions</a></span>
            <span class="item text-hide"><a class="active-link">Products</a></span>
            <span class="item text-hide"><a class="active-link">Pricing</a></span>
            <span class="item text-hide"><a class="active-link">Resources</a></span>
          </div>
          <div class="col-md-5 text-right">
            <span class="btn-free-trial text-hide" style="color: #1a73e8;margin-top: -10px;"><a>Admin Console</a></span>
            <button class="btn btn-default contact-sales-btn mr-3 text-hide" style="margin-top: -10px;">Contact Sales</button>
            <button class="btn btn-primary contact-sales-btn mr-3 text-hide" style="margin-top: -10px;color: #fff;background-color: #007bff;
    border-color: #007bff;">Start Free Trial</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


